{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}
<!-- Page header with logo and tagline-->
<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder align-left">{{ post.title }}</h1>
            <strong>
                {% if user.is_authenticated %}
                <form class="d-inline" action="{% url 'post_like' post.slug %}" method="post">
                    {% csrf_token %}
                    {% if liked %}
                    
                    <button type="submit" name="blogpost_id" value="{{ post.slug }}" class="btn-like"><i class="fas fa-heart"></i>{{ post.number_of_likes }}</button>
                    {% else %}

                    <button type="submit" name="blogpost_id" value="{{ post.slug }}" class="btn-like"><i class="far fa-heart"></i>{{ post.number_of_likes }}</button>
                    
                    {% endif %}
                </form>
                {% else %}
                <strong class="far fa-heart" id="postdetail-likes">{{ post.number_of_likes }}</strong>
                {% endif %}
            </strong>
            {% with comments.count as total_comments %}
            <strong class="far fa-comments">
                <!-- Our total_comments variable goes before the closing strong tag -->
                {{ total_comments }}</strong>
            {% endwith %}
            <!-- Post Author-->
            <div class="text fst-italic mb-2">Uploaded by: <strong>{{ post.author }}</strong></div>
        </div>
    </div>
</header>
<!-- Page content-->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->

                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">{{ post.title }}</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">{{ post.created_on }}</div>
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4">
                    {% if "placeholder" in post.featured_image_url %}
                    <img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." />
                    {% else %}
                    <img src="{{ post.featured_image.url }}" width="100%">
                    {% endif %}
                </figure>
                <!-- Post content-->
                <section class="mb-5">
                    {{ post.content | safe }}
                </section>
            </article>
            <!-- Comments section-->
            <section class="mb-5 form-control">
                <h3>Comments</h3>
                <!-- Total comments-->
                {% for comment in comments %}
                <div class="d-flex">
                    <div class="ms-3">
                        <div class="fw-bold font-weight-bold">{{ comment.name }}</div>
                        <span class="text-muted font-weight-normal">{{ comment.created_on }}</span>
                        {{ comment.body | linebreaks }}
                    </div>
                </div>
                {% endfor %}
                <div class="card bg-light">
                    <div class="card-body">
                        {% if commented %}
                        <div class="alert alert-success" role="alert">
                            Your comment is awaiting approval
                        </div>
                        {% else %}
                        {% if user.is_authenticated %}
                        <!-- Single comment-->
                        <h3 class="text-light">Leave a comment:</h3>
                        <p class="text-light">Posting as: {{ user.username }}</p>
                        <form method="post">

                            <textarea name="body" required class="form-control mb-3" rows="3"
                                placeholder="Leave a comment!"></textarea>
                            {% csrf_token %}
                            <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                        </form>
                        {% else %}
                        <h4 class="text-light">Login to leave a comment!</h4>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </section>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header text-light">Search</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Under maintenance..."
                            aria-label="Enter search term..." aria-describedby="button-search" name="search" disabled />
                        <button class="btn btn-primary" id="button-search" type="button" value="search"
                            disabled>Go!</button>
                    </div>
                </div>
            </div>
            <!-- Side widget-->
            <div class="card mb-4">
                <div class="card-header text-white">Stay tuned</div>
                <div class="card-body text-white">Special offers coming soon!</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}