{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}
<!-- Page header with logo and tagline-->
<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder align-left">{{ post.title }}</h1>
            <strong class="far fa-heart" id="postdetail-likes"> {{ post.number_of_likes }}</strong>
            {% with comments.count as total.comments %}
            <strong class="text-secondary"><i class="far fa-comments"></i></strong>
            {{ total_comments }}
            {% endwith %}
            <!-- Post Author-->
            <div class="text fst-italic mb-2">Uploaded by: <strong>{{ post.author }}</strong></div>
        </div>
    </div>
</header>
<!-- Page content-->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">{{ post.title }}</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">{{ post.created_on }}</div>
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4">
                    {% if "placeholder" in post.featured_image_url %}
                    <img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." />
                    {% else %}
                    <img src="{{ post.featured_image.url }}" width="100%">
                    {% endif %}
                </figure>
                <!-- Post content-->
                <section class="mb-5">
                    {{ post.content | safe }}
                </section>
            </article>
            <!-- Comments section-->
            <section class="mb-5">
                <h3>Comments</h3>
                <!-- Total comments-->
                {% for comment in comments %}
                <div class="d-flex">
                    <div class="ms-3">
                        <div class="fw-bold font-weight-bold">{{ comment.name }}</div>
                        <span class="text-muted font-weight-normal">{{ comment.created_on }}</span>
                        wrote:
                        {{ comment.body | linebreaks }}
                    </div>
                </div>
                {% endfor %}
                <div class="card bg-light">
                    <div class="card-body">
                        {% if commented %}
                    <div class="alert alert-success" role="alert">
                        Your comment is awaiting approval
                    </div>
                    {% else %}
                    {% if user.is_authenticated %}
                    <!-- Single comment-->
                    <h3>Leave a comment:</h3>
                    <p>Posting as: {{ user.username }}</p>
                    <form method="post" class="mb-4" style="margin-top: 1.3em;">
                        
                        <textarea name="body" required class="form-control" rows="3"
                            placeholder="Leave a comment!"></textarea>
                        {% csrf_token %}
                        <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                    </form>
                    {% endif %}
                    {% endif %}
                    </div>
                </div>
            </section>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header">Search</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Enter search term..."
                            aria-label="Enter search term..." aria-describedby="button-search" />
                        <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                    </div>
                </div>
            </div>
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header">Categories</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">Web Design</a></li>
                                <li><a href="#!">HTML</a></li>
                                <li><a href="#!">Freebies</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">JavaScript</a></li>
                                <li><a href="#!">CSS</a></li>
                                <li><a href="#!">Tutorials</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side widget-->
            <div class="card mb-4">
                <div class="card-header">Side Widget</div>
                <div class="card-body">You can put anything you want inside of these side widgets. They are easy to
                    use, and feature the Bootstrap 5 card component!</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}